[user]
  name = Bryan Shell
  email = bryan.shell@orbitz.com

[alias]
  co = checkout
  ci = commit
  st = status -s -u
  br = branch

  hist = log --graph --abbrev=7 --decorate -p

  l = log --graph --abbrev=7 --decorate
  ll = log --graph --stat --abbrev=7 --decorate

  lg = log --graph  --abbrev-commit --date=short --pretty=graph
  lga = log --all --graph --abbrev-commit --date=short --pretty=graph

  la = log --date=short --pretty=graph
  laa = log --date=short --all --pretty=graph

  type = cat-file -t
  dump = cat-file -p

  ignored = status -s --ignored

  changelog = log --first-parent --no-merges --pretty=changelog

  unpushed = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git log origin/$PROJ_BRANCH..HEAD"
  unpulled = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git fetch && git log HEAD..origin/$PROJ_BRANCH"

  prstash = !"git fetch origin refs/pull-requests/$1/from:pull-requests/$1 # "
  prgitorious = !"git fetch origin refs/merge-requests/$1:merge-requests/$1 # "

	todo  = grep -n --ignore-case -e 'TODO *'
	fixme = grep -n --ignore-case -e 'FIX: *' -e 'FIXME: *'

[pretty]
  graph = format:"%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cd) %C(bold blue)<%aN>%Creset"
  gnuchangelog = format:"%ai %aN %n%n%x09* %s%d%n"
  changelog = format:"  * %s"

[color]
  ui = auto

[mergetool]
  prompt = false

[push]
	default = simple
